<a href="https://colab.research.google.com/github/nkcong206/Travel-Recommendation-System/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q langchain-ollama
!pip install -q langchain
!pip install -q langchain_community
!pip install -q sentence-transformers

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.4/50.4 kB 844.1 kB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 391.5/391.5 kB 14.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.6/75.6 kB 4.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.9/77.9 kB 4.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 140.4/140.4 kB 10.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 141.9/141.9 kB 4.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 2.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 997.8/997.8 kB 33.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.3/2.3 MB 55.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.2/49.2 kB 3.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 227.1/227.1 kB 2.8 MB/s eta 0:00:00

In [2]:
from langchain_core.prompts import ChatPromptTemplate
from langchain_ollama.llms import OllamaLLM
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity
import re
import json
import subprocess
import time
import threading
import psycopg2

/usr/local/lib/python3.10/dist-packages/sentence_transformers/cross_encoder/CrossEncoder.py:11: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm, trange

In [10]:
import getpass
import os

postgres_url = getpass.getpass("Enter your postgresql url: ")

Enter your postgresql url: ··········

In [1]:
model = SentenceTransformer('bkai-foundation-models/vietnamese-bi-encoder')

NameError: name 'SentenceTransformer' is not defined

In [4]:
!curl https://ollama.ai/install.sh | sh

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 13085    0 13085    0     0  32566      0 --:--:-- --:--:-- --:--:-- 32549
>>> Installing ollama to /usr/local
>>> Downloading Linux amd64 CLI
############################################################################################# 100.0%
>>> Making ollama accessible in the PATH in /usr/local/bin
>>> Creating ollama user...
>>> Adding ollama user to video group...
>>> Adding current user to ollama group...
>>> Creating ollama systemd service...
WARNING: Unable to detect NVIDIA/AMD GPU. Install lspci or lshw to automatically detect and install GPU dependencies.
>>> The Ollama API is now available at 127.0.0.1:11434.
>>> Install complete. Run "ollama" from the command line.

In [5]:
# Start the ollama server in a new process
process = subprocess.Popen(['ollama', 'serve'], stdout=subprocess.PIPE, stderr=subprocess.PIPE)

# Function to print server output
def print_output(process):
    while True:
        output = process.stdout.readline()
        if output == b'' and process.poll() is not None:
            break
        if output:
            print(output.strip().decode('utf-8'))
        time.sleep(1)

# Start a thread to print server output
thread = threading.Thread(target=print_output, args=(process,))
thread.start()

print("Ollama server is running in the background")

Ollama server is running in the background

In [ ]:
!ollama pull llama3:latest

In [7]:
llm = OllamaLLM(model="llama3:latest")

Your task is to extract key information from a travel request.

    Request: "{travel_request}"

    Extract and return the result by vietnamese in the following format:
    {{
        "Type": "...",
        "District": "...",
        "City": "...",
        "Number_of_people": "...",
        "Price": "...",
        "Rating": "...",
        "Description": "..."
    }}

    Ensure that the "Type" is one of the following: "Hotel," "Restaurant," or "TouristAttraction." If one or two types are mentioned, return only those. If none are mentioned, include all three types.

    For any information not specified in the travel request, return `null`. Ensure that the JSON result is strictly valid JSON, with no extra text, comments, or parentheses.

    The "District" not include "quận" or "huyện". The "City" not include "thành phố" or "tỉnh".

In [8]:
template = """
    You are an AI travel suggestion chatbot. Your task is to analyze the Request:

    Request: "{travel_request}"

    Extract the following 7 pieces of information not in any specific order: Type, District, City, Number_of_people, Price, Rating, and Description.
    Return the result by vietnamese in the following format:
    {{
        "Type": "...",
        "District": "...",
        "City": "...",
        "Number_of_people": "...",
        "Price": "...",
        "Rating": "...",
        "Description": "..."
    }}

    Ensure that the "Type" is one of the following: "Hotel," "Restaurant," or "TouristAttraction." If one or two types are mentioned, return only those. If none are mentioned, include all three types.

    For any information not specified in the travel request, return `null`. Ensure that the JSON result is strictly valid JSON, with no extra text, comments, or parentheses.

    The "District" not include "quận" or "huyện". The "City" not include "thành phố" or "tỉnh".

    The "Price" should be an integer. The "Rating" should be a float.
    """
prompt = ChatPromptTemplate.from_template(template)
chain = prompt | llm

In [9]:
query = """
Gợi ý cho tôi 1 khách sạn ở Cầu Giấy, Hà Nội với chất lượng dịch vụ cao cấp!
"""
response = chain.invoke(query)
cleaned_json_str = re.search(r'\{.*?\}', response, re.DOTALL).group(0)
result_dict = json.loads(cleaned_json_str)
result_dict

INFO [main] build info | build=1 commit="1e6f655" tid="137848473948160" timestamp=1724157480
INFO [main] system info | n_threads=1 n_threads_batch=-1 system_info="AVX = 1 | AVX_VNNI = 0 | AVX2 = 0 | AVX512 = 0 | AVX512_VBMI = 0 | AVX512_VNNI = 0 | AVX512_BF16 = 0 | FMA = 0 | NEON = 0 | SVE = 0 | ARM_FMA = 0 | F16C = 0 | FP16_VA = 0 | WASM_SIMD = 0 | BLAS = 1 | SSE3 = 1 | SSSE3 = 1 | VSX = 0 | MATMUL_INT8 = 0 | LLAMAFILE = 1 | " tid="137848473948160" timestamp=1724157480 total_threads=2
INFO [main] HTTP server listening | hostname="127.0.0.1" n_threads_http="6" port="41883" tid="137848473948160" timestamp=1724157480
INFO [main] model loaded | tid="137848473948160" timestamp=1724157494

{'Type': 'Hotel',
 'District': 'Cầu Giấy',
 'City': 'Hà Nội',
 'Number_of_people': None,
 'Price': None,
 'Rating': None,
 'Description': 'khách sạn với chất lượng dịch vụ cao cấp'}

[GIN] 2024/08/20 - 12:38:18 | 200 | 18.100229321s |       127.0.0.1 | POST     "/api/generate"

In [11]:
import psycopg2
from psycopg2 import sql

try:
    # Connect to PostgreSQL database
    conn = psycopg2.connect(postgres_url)
    cur = conn.cursor()
    cur.execute("CREATE EXTENSION IF NOT EXISTS postgis;")
    conn.commit()

    cur.execute("""
    DROP SCHEMA IF EXISTS travel_database CASCADE;
    CREATE SCHEMA IF NOT EXISTS travel_database;
    SET search_path TO travel_database, public;  -- Use public where PostGIS is installed

    -- Create a custom type for the Address structure
    CREATE TYPE Address AS (
        street TEXT,
        district TEXT,
        city TEXT
    );

    -- Create the Hotel table with an embedding vector column
    CREATE TABLE Hotel (
        hotel_id SERIAL PRIMARY KEY,
        name VARCHAR(255),
        address Address,
        location GEOMETRY(POINT),  -- PostGIS geography type for location data
        rating DECIMAL(2, 1),
        description TEXT,
        embedding vector(768),  -- Using the vector extension for 768-dimensional embeddings
        img_url JSON,
        comments JSON
    );

    -- Create an index on the district of the Address and Rating columns for the Hotel table
    CREATE INDEX idx_hotel_address_rating ON Hotel(((address).district), rating);

    -- Create the Price table for the Hotel table
    CREATE TABLE HotelPrice (
        hprice_id SERIAL PRIMARY KEY,
        hotel_id INT REFERENCES Hotel(hotel_id) ON DELETE CASCADE,
        room_type VARCHAR(255),
        capacity INT,
        price INT NOT NULL
    );

    -- Create an index on the hotel_id for the HotelPrice table
    -- CREATE INDEX hotel_idx_address_district ON Hotel(((address).district));
    -- CREATE INDEX hotel_idx_rating ON Hotel(rating);
    -- CREATE INDEX hotel_idx_location ON Hotel USING GIST(location);


    -- Create the TouristAttraction table with an embedding vector column
    CREATE TABLE TouristAttraction (
        attraction_id SERIAL PRIMARY KEY,
        name VARCHAR(255),
        address Address,
        location GEOMETRY(POINT),  -- PostGIS geography type for location data
        attraction_type VARCHAR(255),
        rating DECIMAL(2, 1),
        tour_duration INTERVAL,
        description TEXT,
        embedding vector(768),  -- Using the vector extension for 768-dimensional embeddings
        img_url JSON,
        comments JSON
    );

    -- Create an index on the district of the Address and Rating columns for the TouristAttraction table
    -- CREATE INDEX attraction_idx_address_district ON TouristAttraction(((address).district));
    -- CREATE INDEX attraction_idx_rating ON TouristAttraction(rating);
    -- CREATE INDEX attraction_idx_location ON TouristAttraction USING GIST(location);


    -- Create the Price table for the TouristAttraction table
    CREATE TABLE AttractionPrice (
        aprice_id SERIAL PRIMARY KEY,
        attraction_id INT REFERENCES TouristAttraction(attraction_id) ON DELETE CASCADE,
        ticket_type VARCHAR(255),
        number_people INT,
        price INT NOT NULL
    );

    -- Create an index on the attraction_id for the AttractionPrice table
    -- CREATE INDEX idx_attractionprice_attractionid ON AttractionPrice(attraction_id);

    -- Create the Restaurant table with an embedding vector column
    CREATE TABLE Restaurant (
        res_id SERIAL PRIMARY KEY,
        name VARCHAR(255),
        address Address,
        location GEOMETRY(POINT),  -- PostGIS geography type for location data
        rating DECIMAL(2, 1),
        description TEXT,
        embedding vector(768),  -- Using the vector extension for 768-dimensional embeddings
        img_url JSON,
        comments JSON
    );

    -- Create an index on the district of the Address and Rating columns for the Restaurant table
    -- CREATE INDEX res_idx_address_district ON Restaurant(((address).district));
    -- CREATE INDEX res_idx_rating ON Restaurant(rating);
    -- CREATE INDEX res_idx_location ON Restaurant USING GIST(location);
    """)
    conn.commit()

except Exception as e:
    print(f"An error occurred: {e}")
    conn.rollback()

finally:
    # Close cursor and connection
    cur.close()
    conn.close()

In [ ]:
conn = psycopg2.connect(postgres_url)
# Tạo con trỏ để thực thi các câu lệnh SQL
cur = conn.cursor()

# Đặt schema hiện tại
cur.execute("SET search_path TO travel_database;")

# Kiểm tra xem bảng Hotel có tồn tại không
cur.execute("SELECT * FROM information_schema.tables WHERE table_name = 'hotel';")
if not cur.fetchone():
    print("Bảng 'Hotel' không tồn tại trong schema 'travel_database'.")
else:
# Dữ liệu cần chèn vào bảng Hotel
    data_1 = [
        ('Grand Hotel', ('123 Main St', 'Ba Đình', 'Hà Nội'), (21.0285, 105.8542), 4.5, 'Luxury hotel with great amenities.', json.dumps(["https://example.com/image1.jpg"]), json.dumps(["asdsadsd"])),
    ]

    data_2 = [
        ('Elite Suites', ('808 Elite Ave', 'Cầu Giấy', 'Hà Nội'), (21.0295, 105.8552), 4.8, 'Exclusive suites with top-notch services.', json.dumps(["https://example.com/image11.jpg"]),json.dumps(["asdsadsd"]))
    ]

    # Chèn dữ liệu vào bảng Hotel
    cur.executemany("""
    INSERT INTO Hotel (Name, Address, Location, Rating, Description, Img_URL, Comments) VALUES (%s, %s, %s, %s, %s, %s, %s)
    """, data_1)

    # Cam kết các thay đổi vào cơ sở dữ liệu
    conn.commit()

    # Chèn dữ liệu bổ sung
    cur.executemany("""
    INSERT INTO Hotel (Name, Address, Location, Rating, Description, Img_URL, Comments) VALUES (%s, %s, %s, %s, %s, %s, %s)
    """, data_2)

    # Cam kết các thay đổi vào cơ sở dữ liệu
    conn.commit()
cur.close()
conn.close()

In [ ]:
conn = psycopg2.connect(postgres_url)

cur = conn.cursor()

cur.execute("SET search_path TO travel_database;")

result_dict = {
    'Type': ['Tourist Attraction'],
    'District': "Ba Đình",
    'City': 'Hà Nội',
    'number_of_people': 3,
    'Price': None,
    'Rating': None,
    'Description': None
}


cur.execute("""
SELECT
    h.HotelID,
    h.Name,
    (h.Location).Latitude AS Latitude,
    (h.Location).Longitude AS Longitude,
    h.Rating,
    h.Description,
    h.Img_URL,
    h.Comments,
    p.Price,
    p.RoomType,
    p.Capacity
FROM
    travel_database.Hotel h
JOIN
    travel_database.HotelPrice p ON h.HotelID = p.HotelID
WHERE
    (h.Rating = %s OR %s IS NULL) AND
    (p.Price = %s OR %s IS NULL) AND
    ((h.Address).district = %s OR %s IS NULL) AND
    ((h.Address).city = %s OR %s IS NULL) AND
    (h.Description = %s OR %s IS NULL);
""",
(
    result_dict['Rating'],
    result_dict['Rating'],
    result_dict['Price'],
    result_dict['Price'],
    result_dict['District'],
    result_dict['District'],
    result_dict['City'],
    result_dict['City'],
    result_dict['Description'],
    result_dict['Description']
))

rows = cur.fetchall()
for row in rows:
    print(row)
cur.close()
conn.close()

In [ ]:
conn = psycopg2.connect(postgres_url)
cur = conn.cursor()

# Đặt schema hiện tại
cur.execute("SET search_path TO travel_database;")

# Kiểm tra xem bảng Hotel có tồn tại không
cur.execute("SELECT * FROM information_schema.tables WHERE table_name = 'hotel';")
if not cur.fetchone():
    print("Bảng 'Hotel' không tồn tại trong schema 'travel_database'.")
else:
    result_dict = {
    'Type': ['Tourist Attraction'],
    'District': "Cầu Giấy",
    'City': 'Hà Nội',
    'number_of_people': 3,
    'Price': None,
    'Rating': 4.5,
    'Description': None
    }
    # Thực hiện truy vấn SELECT đơn giản để kiểm tra dữ liệu
    cur.execute("""
    SELECT
        h.HotelID,
        h.Name,
        (h.Location).Latitude AS Latitude,
        (h.Location).Longitude AS Longitude,
        h.Rating,
        h.Description,
        h.Img_URL,
        h.Comments,
        p.Price,
        p.RoomType,
        p.Capacity
    FROM
        travel_database.Hotel h
    JOIN
        travel_database.HotelPrice p ON h.HotelID = p.HotelID
    WHERE
    (h.Rating = %s OR %s IS NULL) AND
    ((h.Address).district = %s OR %s IS NULL)
    """,(
        result_dict['Rating'],
        result_dict['Rating'],
        result_dict['District'],
        result_dict['District']
    ))

    # Lấy kết quả và in ra
    rows = cur.fetchall()
    print(type(rows))
    for row in rows:
        print(row)

cur.close()
conn.close()

<class 'list'>
(1, 'Sông Hồng', Decimal('21.028500'), Decimal('105.854200'), Decimal('4.5'), 'Cao cấp', ['https://example.com/image1.jpg'], ['tốt'], 3000000, 'Luxury', 2)
(1, 'Sông Hồng', Decimal('21.028500'), Decimal('105.854200'), Decimal('4.5'), 'Cao cấp', ['https://example.com/image1.jpg'], ['tốt'], 1000000, 'Basic', 2)

In [ ]:
# Gợi ý cho tôi khách sạn ở Cầu Giấy, Hà Nội chất lượng 5 sao giành cho 2 người giá khoảng 10 triệu đồng với chất lượng dịch vụ cao cấp!
query = input("Nhập câu truy vấn của bạn: ")

Nhập câu truy vấn của bạn: Gợi ý cho tôi khách sạn ở Cầu Giấy, Hà Nội chất lượng 5 sao giành cho 2 người giá khoảng 10 triệu đồng với chất lượng dịch vụ cao cấp!

In [ ]:
conn = psycopg2.connect(postgres_url)
cur = conn.cursor()

cur.execute("SET search_path TO travel_database;")

cur.execute("SELECT * FROM information_schema.tables WHERE table_name = 'hotel';")
if not cur.fetchone():
    print("Bảng 'Hotel' không tồn tại trong schema 'travel_database'.")
else:

    response = chain.invoke(query)
    cleaned_json_str = re.search(r'\{.*?\}', response, re.DOTALL).group(0)
    result_dict = json.loads(cleaned_json_str)

    cur.execute("""
    SELECT
        h.HotelID,
        h.Name,
        (h.Address).street AS Street,
        (h.Address).district AS District,
        (h.Address).city AS City,
        h.Rating,
        h.Description,
        h.Comments,
        p.Price,
        p.RoomType,
        p.Capacity
    FROM
        travel_database.Hotel h
    JOIN
        travel_database.HotelPrice p ON h.HotelID = p.HotelID
    WHERE
    ((h.Address).district = %s OR %s IS NULL) AND
    ((h.Address).city = %s OR %s IS NULL)
    """,(
        result_dict['District'],
        result_dict['District'],
        result_dict['City'],
        result_dict['City']
    ))

    # Lấy kết quả và so sánh mô tả
    rows = cur.fetchall()
    descriptions = [row[6] for row in rows]
    descriptions_with_info = []

    # Mô tả từ result
    result_description = result_dict['Description'] if result_dict['Description'] else ""
    result_embedding = model.encode([result_description])

    # So sánh và sắp xếp kết quả
    for row in rows:
        description = row[6]
        embedding = model.encode([description])
        similarity = cosine_similarity(result_embedding, embedding)[0][0]
        descriptions_with_info.append((row, description, similarity))

    # Sắp xếp theo mức độ liên quan giảm dần
    descriptions_with_info.sort(key=lambda x: x[2], reverse=True)

    print(f"Yêu cầu người dùng: {query}")
    for info in descriptions_with_info:
        row, description, similarity = info
        print(f"HotelID: {row[0]}")
        print(f"Name: {row[1]}")
        print(f"Address: {row[2]}, {row[3]}, {row[4]}")
        print(f"Rating: {row[5]}")
        print(f"Description: {row[6]}")
        print(f"Similarity: {similarity:.4f}")
        print(f"Comments: {row[7]}")
        print(f"Price: {row[8]}")
        print(f"RoomType: {row[9]}")
        print(f"Capacity: {row[10]}")
        print("-" * 40)

    print(result_dict)

cur.close()
conn.close()

[GIN] 2024/08/19 - 18:48:28 | 200 |  2.530431198s |       127.0.0.1 | POST     "/api/generate"
Yêu cầu người dùng: Gợi ý cho tôi khách sạn ở Cầu Giấy, Hà Nội chất lượng 5 sao giành cho 2 người giá khoảng 10 triệu đồng với chất lượng dịch vụ cao cấp!
HotelID: 2
Name: Tây Sơn
Address: 808 Cổ Nhuế, Cầu Giấy, Hà Nội
Rating: 4.5
Description: Cao cấp
Similarity: 0.4342
Comments: ['KS này chất']
Price: 5000000
RoomType: Luxury
Capacity: 2
----------------------------------------
HotelID: 1
Name: Sông Hồng
Address: 123 PVĐ, Cầu Giấy, Hà Nội
Rating: 4.5
Description: Bình dân
Similarity: 0.1469
Comments: ['Cũng bình thường']
Price: 3000000
RoomType: Luxury
Capacity: 2
----------------------------------------
{'Type': 'Hotel', 'District': 'Cầu Giấy', 'City': 'Hà Nội', 'Number_of_people': '2', 'Price': '10000000', 'Rating': '5', 'Description': 'khách sạn chất lượng cao cấp'}