In [3]:
import psycopg2
import time

In [4]:
import getpass
import os

postgres_url = getpass.getpass("Enter your postgresql url: ")

In [1]:
def insert_db_hotel_price(id):
    print(f"delete location of room {id}")
    conn = psycopg2.connect(postgres_url)
    cur = conn.cursor()
    cur.execute("""SET search_path TO travel_database, public;""")
    query="""
    UPDATE Hotel SET location = NULL
    WHERE hotel_id = %s;"""
    cur.execute(query, (id,))
    conn.commit()
    cur.close()
    conn.close()

In [5]:
id_list=['1248','2','652','1252','1258','35','37','2526','43','1268','47','48','1271','1285','2567','59','65','61','1288','71','72','76','78','86']
for id in id_list:
    insert_db_hotel_price(id)

delete location of room 1248
delete location of room 2
delete location of room 652
delete location of room 1252
delete location of room 1258
delete location of room 35
delete location of room 37
delete location of room 2526
delete location of room 43
delete location of room 1268
delete location of room 47
delete location of room 48
delete location of room 1271
delete location of room 1285
delete location of room 2567
delete location of room 59
delete location of room 65
delete location of room 61
delete location of room 1288
delete location of room 71
delete location of room 72
delete location of room 76
delete location of room 78
delete location of room 86